@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;

  background-color: rgb(20, 20, 20);
  margin: 0px;
}

#menu {
  height: 100vh;
  display: flex;
  align-items: center;
}

.menu-item {
  color: white;
  font-size: clamp(3rem, 8vw, 8rem);
  font-family: "Ibarra Real Nova", serif;

  display: block;
  text-decoration: none;
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
}

#menu-items {
  margin-left: clamp(4rem, 20vw, 48rem);
}

@media screen and (max-width: 768px) {
}
